#login{
    width: 250px;
}
#password{
    width: 250px;
}
input[type="submit"]{
    width: 125px;
}

.login-section{
    height: calc(90vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-section form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.login-form input{
    margin-top: 4px;
    color: black;
}

.login-form label{
    font-size: medium;
}

.login-box{
    height: 100px;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-button{
    border: 1px solid gray;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.507);
    width: 225px;
    height: 25px;
    color: rgba(0, 0, 0, 0.575);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    transition: .1s ease all;
}

.login-button:hover{
    background-color: rgba(128, 128, 128, 0.87);
    cursor: pointer;
    color: rgb(0, 0, 0);
}
